.floatleft {
    float: left;
    /*TRBL*/
    margin: 0 1rem 1rem 0;
  }
  
  .floatright {
    float: right;
  }
  article {
    width: 30rem;
    border: 3px solid red;
    text-align: center;
    margin: 0 auto;
  }
  article:after {
      content: "";
      display: table;
      clear: both;
  }
  .bookmarkup {
    background-color: rgb(74, 139, 118); 
    border: 3px solid greenyellow;
    text-align: center;
  }
  aside p {
    margin: 0;
    padding: 0;
  }
  .aside{
    border: 1px solid cyan;
    border-radius: 25rem;
    color: maroon;
    background-color: black;
    width: 50rem;
    text-align: center;
  }